@tailwind base;
@tailwind components;
@tailwind utilities;

input:user-valid {
  @apply border-grey-25;
}
input:focus:not(:user-invalid) {
  @apply border-Dark-Navy;
}

input:user-invalid {
  @apply bg-warning border-Vermilon text-Vermilon;
}

input:not(:user-invalid) + .warning {
  @apply hidden;
}

input:user-invalid + .warning {
  @apply text-sm text-Vermilon absolute right-0 top-0 w-fit font-bold leading-6;
}
